<% hpp_source_fields = [
  :auth_result, :psp_reference, :skin_code, :payment_method, :shopper_locale, :created_at] %>

<% content_for :page_actions do %>
  <li>
    <%=
      link_to "View in Customer Area",
        Spree::Adyen::URL.payment_adyen_customer_area_url(
          merchant_account: hpp_source.payment.payment_method.preferred_merchant_account,
          psp_reference: hpp_source.psp_reference
        ),
        class: "button fa"
    %>
  </li>
<% end %>
<table>
  <thead>
    <% hpp_source_fields.map do |attr| %>
      <th> <%= Spree::Adyen::HppSource.human_attribute_name attr %> </th>
    <% end %>
  </thead>
  <tbody>
    <tr>
      <td> <%= hpp_source.auth_result %> </td>
      <td> <%= hpp_source.psp_reference %> </td>
      <td> <%= hpp_source.skin_code %> </td>
      <td> <%= hpp_source.payment_method %> </td>
      <td> <%= hpp_source.shopper_locale %> </td>
      <td> <%= hpp_source.created_at.to_s(:short) %> </td>
    </tr>
  </tbody>
</table>
