<p>
  You'll be redirected to Adyen Hosted Payment Pages. After completing the
  payment form you'll be back to the store.
</p>

<% redirect_params = {
  currency_code: Spree::Config.currency,
  ship_before_date: Date.tomorrow,
  session_validity: 10.minutes.from_now,
  recurring: false,
  merchant_reference: @order.number.to_s,
  merchant_account: payment_method.merchant_account,
  skin_code: payment_method.skin_code,
  shared_secret: payment_method.shared_secret,
  country_code: @order.billing_address.country.iso3,
  payment_amount: (@order.total.to_f * 100).to_int }
%>

<%= link_to "Pay with Adyen", ::Adyen::Form.redirect_url(
  Rails.env.development? ? redirect_params.merge(:resURL => adyen_confirmation_url) : redirect_params)
%>

<%= link_to "Pay with Adyen", ::Adyen::Form.redirect_url(
  Rails.env.development? ? redirect_params.merge(:resURL => adyen_confirmation_url) : redirect_params)
%>

<dl>
  <% ::Spree::Adyen::Form.payment_methods_from_directory(redirect_params).each do |payment_method| %>
    <dt>
      <%= payment_method["name"] %>
    </dt>
    <dd>
      <%= link_to payment_method["brandCode"], payment_method["url"] %>
    </dd>
  <% end %>
</dl>

<script type="text/javascript">
$(function() {
  var spreePaymentRadio = $("#checkout_form_payment input:radio")

  var hideCheckoutButtonForAdyen = function() {
    if ($("#checkout_form_payment input:radio:checked").val() == <%= payment_method.id %>) {
      $("#checkout_form_payment .form-buttons").hide();
    } else {
      $("#checkout_form_payment .form-buttons").show();
    }
  }

  spreePaymentRadio.change(function() {
    hideCheckoutButtonForAdyen();
  });

  hideCheckoutButtonForAdyen();
});
</script>
